<p id="notice"><%= notice %></p>

<p>
  <strong>Eq name:</strong>
  <%= @equipment.eq_name %>
</p>

<%= link_to 'Edit', edit_equipment_path(@equipment) %> |
<%= link_to 'Back', equipment_index_path %>
