<p id="notice"><%= notice %></p>

<p>
  <strong>En name:</strong>
  <%= @enterprise.en_name %>
</p>

<%= link_to 'Edit', edit_cs_user_enterprise_path(@enterprise) %> |
<%= link_to 'Back', cs_user_enterprises_path %>
