<h1>Uploads#create</h1>
<p>Find me in app/views/uploads/create.html.erb</p>


<p id="demo"></p>

<script>
    var number = <%= @number %>;
    // document.getElementById("demo").innerHTML = 5 + 6;
    document.getElementById("demo").innerHTML = 5 + 6; 
</script>

<script>
  var js_var = 1;
</script>

<%= get_value_of_js_var_somehow %>