<h1>Editando Actividad</h1>

<%= render 'form', activity: @activity, project: @project, user: @user %>

<%= link_to 'Show', user_project_activity_path(params[:user_id], params[:project_id], @activity) %> | |
<%= link_to 'Back', user_project_activities_path %>
